@charset "utf-8";
/* CSS Document */

html, body {
  height: 100vh;
  width: 100vw;
  background: #f3f3f3;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
  line-height: 1.5;
  margin: 0;
}
body {
  display: -ms-grid;
  display: grid;
	background-color: #fdfdfd;
  position: relative;
  -ms-grid-rows: 50px 1fr 50px;
      grid-template-rows: 50px 1fr 50px;
}
body.inside {
  -ms-grid-rows: 100px 1fr 50px;
      grid-template-rows: 100px 1fr 50px;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#header {
  -ms-grid-row: 1;
      grid-row: 1;
}

#maincontent {
  background-color: #f3f3f3;
  -ms-grid-row: 2;
      grid-row: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 45vh 1fr;
      grid-template-rows: 45vh 1fr;
}

.inside #maincontent {
  -ms-grid-rows: 45vh auto;
      grid-template-rows: 45vh auto;
}




#footer {
  -ms-grid-row: 3;
      grid-row: 3;
  background-color: #444;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 50px;
  background-color: #252831;
  text-align: center;
}
nav h1, nav h2 {
  margin: auto;
}
nav h1 a, nav h2 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

nav h2 a {
  font-size: 14px;
}

.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #024D92;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map-container {
  -ms-grid-row: 1;
      grid-row: 1;
  padding-right: 15px;
}
#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
#restaurant-section {
  -ms-grid-row: 2;
      grid-row: 2;
  height: 100%;
}

.filter-options {
  width: 100%;
  height: 60px;
  background-color: #3397DB;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filter-options h2 {
  color: white;
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 40px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#restaurants-list li {
  display: inline;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  min-width: 150px;
  max-width: 350px;
  padding: 0 30px 25px;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #803F00;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: #ccc none repeat scroll 0 0;
  position: relative;
  -ms-grid-row: 1;
      grid-row: 1;
}
.inside #map {
  background-color: #ccc;
}
.inside #footer {
  bottom: 0;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer p { 
  color: #aaa;
}

#restaurant-name {
  color: #803F00;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container {
  -ms-grid-row: 2;
      grid-row: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 1fr;
      grid-template-rows: 50% 1fr;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 50px 20px 30px;
}
#restaurant {
  -ms-grid-row: 1;
      grid-row: 1;
}
#reviews-container {
  padding: 20px 0 0 0;
  -ms-grid-row: 6;
      grid-row: 6;
}
#reviews-container h2 {
  color: #803F00;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

.inside nav h1 {
  font-size: 15px;
  line-height: 1.4em;
}

@media screen and (min-width: 861px){
  .inside #maincontent{
    -ms-grid-rows: 100vw;
        grid-template-rows: 100vw;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    overflow-x: hidden;
  }

  .inside #map-container{
    -ms-grid-column: 2;
        grid-column: 2;
    height: 100vh;
    width: 100%;
  }

  .inside #map{
    position: fixed !important;
    max-width: 100%;
    padding: 0 10px 25px 0;
  }

  #restaurant-container{
    -ms-grid-row: 1;
        grid-row: 1;
    -ms-grid-column: 1;
        grid-column: 1;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    height: 100vh;
    padding-top: 0;
    border-bottom: none;
  }

  #restaurant-hours{
    margin: 15px 0;
  }

  .inside #reviews-container{
    padding: 10px 0 50px;
  }

  .inside #footer{
    position: fixed;
    height: 10px;
  }
}
